/* =============== Typhography =======  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
/* body fonts  */
body{
    font-family: 'Poppins', sans-serif;
    
}
/* custom fonts  */
@font-face{
    font-family: poppins-r;
    src: url("../FontFamily/Poppins-Regular.ttf") format("truetype");
}
@font-face{
    font-family: poppins-m;
    src: url("../FontFamily/Poppins-Medium.ttf") format("truetype");
}
@font-face{
    font-family: poppins-b;
    src: url("../FontFamily/Poppins-Bold.ttf") format("truetype");
}
@font-face{
    font-family: poppins-extrab;
    src: url("../FontFamily/Poppins-ExtraBold.ttf") format("truetype");
}

/* headings  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "poppins-b";
    color: var(--textColor);
}
h1 {
    font-size: 60px;
    line-height: 70px;
    font-family: "poppins-extrab";
    letter-spacing: 1px;
}
h2 {
    font-size: 36px;
    line-height: 40px;
}
h3 {
    font-size: 30px;
    line-height: 30px;
}
h4 {
    font-size: 24px;
    line-height: 28px;
}
h5 {
    font-size: 18px;
    line-height: 24px;
}
h6 {
    font-size: 14px;
    line-height: 24px;
}
p {
    color: var(--textColor);
    font-size: 16px;
    font-family: "poppins-r";
    font-weight: normal;
    letter-spacing: 0;
    line-height: 28px;
}
p img {
    margin: 0;
}
span {
    color: var(--textColor);
    font-family: "poppins-r";
}
a{
    font-size: 18px;
    font-family: "poppins-b";
    color: var(--textColor);
    text-decoration: none; 
}
ul {
    margin-bottom: 0;
    padding-left: 0px;
    list-style-type: none;
}
a,
i,
span{
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

/*
--------------------------
- Custom Typography
--------------------------
*/



/* button focus and outline  */
a.btn:focus{
    box-shadow: none;
    outline: none;
}







/* =============
custom colors 
============= */
:root{
    --mainColor: RGB(191, 148, 68);
    --buttonColor: RGB(212, 158, 68);
    --homebannerColor: RGB(4, 11, 14);
    /* --mainColorRGB: RGB(29,198,173);   */
    --textColor: RGB(9, 22, 29);
    --whiteColor: #ffffff;
    
    
    --border: #e1e1e1;
    --linkColor: #ddddd; 
    --redLight: #ec0101;
    --footerBG: #040813;
    --shadowMain:  0 0 15px rgb(29 198 173 / 50%);
    --shadowBottom:  0 1px 15px rgb(29 198 173 / 50%);
}